<h2>Lista de Tareas</h2>
<form action="/create" method="get" class="tr">
	<input type="submit" value="Nueva Tarea" class="btn btn-info">
</form>
<div class="panel panel-default">
	<div class="panel-heading">
		<div class="btn-group">
		  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Ver tareas <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu">
		    <li><a href="/?type=completed">Completadas</a></li>
		    <li><a href="/?type=uncompleted">Sin Completar</a></li>
		    <li><a href="/">Todas</a></li>
		  </ul>
		</div>
	</div>
	<table class="table table-striped table-bordered">
		<% if @tasks_lst.length >0 %>
			<tr>
				<td>#</td>
				<td>NOMBRE</td>
				<td>CREADA</td>
				<td>ACTUALIZADA</td>
				<td>CULMINADA?</td>
				<td></td>
			</tr>
			<% @tasks_lst.each do |task| %>
					<tr>
						<form action="/update" method="POST">
							<% @done = nil %>
							<% @id = nil %>
							<% task.each do |key,val| %>
								<% if key=="done" %>
									<% @done=val %>
								<% elsif key=="id" %>
									<input type="hidden" name="id" value="<%=val%>"/>
									<% @id=val %>
									<td><%= val %></td>
								<%elsif key=="created_at" || key=="updated_at"%>
									<td><%=DateTime.parse(val,'%Y-%m-%d %H:%M:%S').to_date%></td>
								<%else%>
									<td><%= val %></td>
								<%end%>
							<% end %>
							<td>
							<% if @done==true %>
								<input type="submit" name="status" disabled value="SI" class="btn btn-success"/>
							<%else%>
								<input type="submit" name="status" value="NO" class="btn btn-warning"/>
							<%end%>
							</td>
							<td>
								<a class="btn btn-danger btn-lg" href="/delete?id=<%= @id%>"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
								</a>
							</td>
							
						</form>
					</tr>
			<%end%>
		<% else %>
			<tr>
				<td>No hay tareas</td>
			</tr>
		<% end %>
	</table>
</div>